Repository FusionAuth/fusionauth-site, pull requests merged in 2023-12, with the labels that each got.

#2635 docs: quickstart - Drupal
  astro/src/content/quickstarts/quickstart-php-drupal-web.mdx
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
Labels: content

#2709 Running `npm audit fix` to fix some vulnerabilities
  astro/package-lock.json
Labels: dependencies

#2577 Quickstart wordpress
  astro/public/img/quickstarts/quickstart-wordpress-web/blank-template.png
  astro/public/img/quickstarts/quickstart-wordpress-web/dash-access.png
  astro/public/img/quickstarts/quickstart-wordpress-web/for-logged-in.png
  astro/public/img/quickstarts/quickstart-wordpress-web/home.png
  astro/public/img/quickstarts/quickstart-wordpress-web/media.png
  astro/public/img/quickstarts/quickstart-wordpress-web/oidc-config.png
  astro/public/img/quickstarts/quickstart-wordpress-web/oidc-plugin.png
  astro/public/img/quickstarts/quickstart-wordpress-web/page-restrict.png
  astro/public/img/quickstarts/quickstart-wordpress-web/permalink.png
  astro/public/img/quickstarts/quickstart-wordpress-web/reading.png
  astro/public/img/quickstarts/quickstart-wordpress-web/wp-coder.png
  astro/public/img/quickstarts/quickstart-wordpress-web/wp-welcome.png
  astro/src/content/quickstarts/quickstart-wordpress-web.mdx
  astro/src/diagrams/quickstarts/quickstart-wordpress-web/docker-dependencies.astro
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
Labels: content

#2736 Why Passwordless Matters in the Age of WebAuthn
  astro/public/img/articles/passwordless-webauthn/passwordless-authentication-image.png
  astro/public/img/icons/passwordless-authentication-image.svg
  astro/src/content/articles/authentication/why-passwordless-authentication-matters.md
Labels: content

#2737 iOS/swift quickstart astro
  astro/src/content/quickstarts/quickstart-swift-ios-native.mdx
Labels: content

#2739 Fixing YAML frontmatter after SEO update
  astro/src/content/articles/authentication/multi-factor-authentication.md
  astro/src/content/articles/identity-basics/magic-links.md
Labels: bug

#2698 docs: PHP web quickstart
  astro/src/content/quickstarts/quickstart-php-web.mdx
Labels: content
