Repository FusionAuth/fusionauth-site, pull requests merged in 2023-10, with the labels that each got.

#2536 Anonymous user blog post
  .github/knownwords.txt
  astro/public/img/blogs/anonymous-user/anonymous-user-flow.png
  astro/public/img/blogs/anonymous-user/anonymous-user-in-admin-screen.png
  astro/src/content/blog/anonymous-user.mdx
  astro/src/content/blog/identiverse-conference-report.mdx
  astro/src/content/blog/softozor-fusionauth-hasura-kubernetes.mdx
  astro/src/content/blog/what-is-webauthn-why-do-you-care.mdx
  site/landing/cosmosclownstore/clownwear.html
Labels: content

#2528 Quickstart ruby on rails api
  astro/src/content/quickstarts/quickstart-ruby-on-rails-api.mdx
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
  site/_data/exampleapps.yaml
  site/_layouts/doc.liquid
  site/docs/v1/tech/tutorials/integrate-ruby-rails-api.md
Labels: content

#2580 Mooreds/springboot quickstart web
  astro/src/components/quickstarts/springboot-prereqs.mdx
  astro/src/content/quickstarts/quickstart-springboot-web.mdx
Labels: content

#2494 Adding React Native quickstart
  astro/src/components/IconButton.astro
  astro/src/content/quickstarts/quickstart-react-native.mdx
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
Labels: content, devrel

#2515 Quickstart javascript remix
  astro/src/content/quickstarts/quickstart-javascript-remix-web.mdx
  astro/src/heroes/DocLanding.astro
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
  site/_data/exampleapps.yaml
Labels: content

#2607 Fixing typos in the Golang API quickstart
  astro/src/content/quickstarts/quickstart-golang-api.mdx
Labels: typo

#2581 adding dotnet template blog
  astro/public/img/blogs/dotnet-templates/app-homepage.png
  astro/public/img/blogs/dotnet-templates/fusionauth-visualstudio-templates-vsmarketplace.png
  astro/public/img/blogs/dotnet-templates/header-fusionauth-dotnet-templates.png
  astro/public/img/blogs/dotnet-templates/vs-fusionauth-template-select.png
  astro/public/img/blogs/dotnet-templates/vs-manage-extenstions.png
  astro/public/img/blogs/dotnet-templates/vs-new-project.png
  astro/public/img/blogs/dotnet-templates/vs-template-inputs.png
  astro/src/content/blog/dotnet-templates.mdx
Labels: content

#2608 Creating Laravel API quickstart
  astro/src/content/quickstarts/quickstart-php-laravel-api.mdx
  astro/src/pages/docs/quickstarts/quickstart-sections.ts
Labels: content
